form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
    align-items: start;
    .centre {
        align-self: center;
    }
}

.error {
    color: red;
    font-size: 0.9em;
    &::before {
        content: " * ";
    }
}